/* Header.css */

.header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .headertitle {
    color: #fff;
    font-size: 24px;
    margin: 0;
  }
  
  .headercartbutton {
    background-color: #1872d3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .header-cart-button:hover {
    background-color: #0056b3;
  }
  
  .header-cart-button:focus {
    outline: none;
  }
  
  