.container {
    background-color: #f8f9fa;
    padding: 50px;
  }
  
  body {
    font-size: 18px;
    line-height: 1.6;
  }

  h2.display-4 {
    font-size: 2.5rem;
  }
  
  p.lead {
    font-size: 1.2rem;
  }
  
  .btn {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .btn-start-now {
    padding: 12px 25px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .rounded-circle {
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
  }

  .img-avatar {
    margin-top: -30px;
  }
  




